version: '3.9'

services:
  web:
    build: .
    env_file: .env
    ports:
      - "8000:8000"
    restart: unless-stopped

    volumes:
      - static-data:/app/static_cdn
      - media-data:/app/media

volumes:
  static-data:
  media-data:
