version: '3.9'

services:
  web:
    build: .
    env_file: .env
    ports:
      - "8000:8000"
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/"]
      interval: 30s
      timeout: 10s
      retries: 5
    volumes:
      - static-data:/app/static_cdn
      - media-data:/app/media

volumes:
  static-data:
  media-data:
