{% extends 'base.html' %}
{% block title %}Search {% endblock %}
{% block content %}
<style>
  /* Style to remove underlines from links */
  .title-link {
    text-decoration: none; /* Remove underlines */
    color: inherit; /* Inherit text color */
  }

  .image-box {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
  }

  .image-box:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
</style>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Search Cuisines for <span class="text-info">"{{request.GET.search}}"</span></h3><hr>
      {% for result in results %}
      <div class="row">
        <div class="col-md-4">
          <div class="image-box">
            <img src="{{result.image.url}}" class="img-fluid" alt="">
          </div>
        </div>
        <div class="col-md-8">
          <h4><a href="{% url 'ecomapp:productdetail' result.slug %}" class="title-link">{{result.title}}</a></h4>
          <p>{{result.description}}</p>
          <p>Price:<strike>Rs. {{result.marked_price}}</strike> Rs.{{result.selling_price}}</p>
          <a href="{% url 'ecomapp:addtocart' result.id %}" class="btn btn-primary">Add To Cart / Order Now</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
